<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
	<div class="position-sticky" style="height: 88%;">
		<ul class="nav flex-column">
			<li class="nav-item">
				<a class="nav-link active" aria-current="page" href="/">
					<i class="bi bi-speedometer2"></i>
					Dashboard
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">
					<i class="bi bi-people"></i>
					Students
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">
					<i class="bi bi-people-fill"></i>
					Employees
				</a>
			</li>
			<hr>
			<li class="nav-item">
				<a class="nav-link" href="/results">
					<i class="bi bi-graph-up"></i>
					Results
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">
					<i class="bi bi-cash-coin"></i>
					Fees
				</a>
			</li>
			<hr>
			<li class="nav-item">
				<a class="nav-link" href="#">
					<i class="bi bi-megaphone"></i>
					Announcements
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">
					<i class="bi bi-calendar-event"></i>
					Schedule
				</a>
			</li>
			<hr>
			<li class="nav-item">
				<a class="nav-link" href="#">
					<i class="bi bi-gear"></i>
					Settings
				</a>
			</li>
		</ul>
	</div>
	<!-- User Information -->
	<div class="sticky-bottom bg-light">
		<hr>
		<div class="card text-center border-0">
			<div class="row g-0 align-items-center">
				<div class="col-md-2">
					<img src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPyGNr2qL63Sfugk2Z1-KBEwMGOfycBribew&usqp=CAU" class="p-0 mx-auto me-img" alt = "..">
				</div>
				<div class="col-md-10">
					<div class="card-body m-0">
						<h5 class = "p-0 m-0">John Doe</h5>
						<h6 class = "p-0 m-0" style = "font-size: 9px">admin@admin.com</h6>
						<p class="m-0 p-0">
						superAdmin
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</nav>
